button{
    font-size:20px;
    width:80px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:30px;
    border-color: black;
    border-width: 5px;
}


.counterButton{
    background-color:#00a5ab;
    

}

.count {
    font-size: 30px;
    padding: 20px;

}

.totalcount {
    color: #000000;
    font-size: 50px;
}

.ResetButton{
    
    background-color:#824f8c;
   

}